* {
  box-sizing: border-box;
}
body{
  margin: 0;
}

.input-icons i {
          position: absolute;
      }

      .input-icons {
          width: 100%;
          margin-bottom: 10px;
      }

      .icon {
          padding: 10px;
          color: green;
          min-width: 50px;
          text-align: center;
      }body {
  background-color: rgba(0,0,0,0.1);
}

#regForm {
  background-color: white;
  margin: 50px auto;
font-family: 'Libre Franklin', sans-serif;
  padding: 40px;
  width: 40%;
  min-width: 300px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
}

#regForm h1 {
  font-size: 40px;
  text-align: center;
  margin-bottom: 30px;
  margin-top: 0;
  color: #39424e;
}

input {
  padding: 10px;
  width: 100%;
  font-size: 17px;
  border: 1px solid grey;
  border-radius: 8px;
outline: none;
text-align: center;
}

input.invalid {
  background-color: rgba(0,0,0,0.3);
}

.tab {
  display: none;
}

button {
  background-color:orangered;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 17px;
  font-family: 'Libre Franklin', sans-serif;
  cursor: pointer;
  border-radius: 8px;
  outline:none;
  margin: 10px;
}

button:hover {
  opacity: 0.8;
}

#prevBtn {
  background-color: orangered;
}


.step {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: pink;
  border: none;
  border-radius: 50%;
  display: inline-block;
  opacity: 0.5;
}

.step.active {
  opacity: 1;
}

.step.finish {
  background-color:grey;
}
#heading{
  color: #39424e;
  margin: 0;
    text-align: center;
    font-family: 'Libre Franklin', sans-serif;

}
#heading h1{
  margin: 0;
  padding-top: 30px;
  font-size: 50px;
}
#heading p{
  margin: 15px;
  font-size: 40px;
}
section{
  margin: 0;
  width: 100%;
  height: 100vh;
  background-color:#f3f7f7;
}
#mcq{

  font-size: 23px;
}
#mcq h1{
  text-align: left;
   font-size: 20px;
  margin: 20px 10px;
}
#mcq select{
  padding: 10px;
  width: 100%;
  font-size: 17px;
  border: 1px solid grey;
  border-radius: 8px;
outline: none;
text-align: center;
}
