<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>404 Error</title>
    <style media="screen">

      body{
        background-color: rgba(0, 0, 0,1);
        margin: 0;
      }
      img{
        position: absolute;
        right: 0;
        top: 0;
        height: 99vh;
        width: 40%;
      }
      h1,p{
        display: inline-block;
        width: 50%;
        color: white;
      }
      h1{
        font-size: 60px;
        text-align: center;
      }
      p{
        line-height: 150%;
        font-size: 45px;
        margin-left: 5%;
        margin-bottom:0;
      }
      button{
        padding: 10px;
        font-size: 25px;
        color: white;
        display: inline-block;
        position: absolute;
        border-radius: 40px;
        border: solid 1px black;
      }
      #button1{
        box-shadow: 0 0 40px blue;
        background-color: blue;
        bottom: 16%;
        right: 2%;
      }
      #button2{
      box-shadow: 0 0 30px red;
      width: 180px;
      background-color: red;
      bottom: 16%;
      right: 28%;
      }
    </style>
  </head>
  <body>
    <h1>404 ERROR :(</h1>
    <p>Something went wrong on our side .</p>
    <p><strong>
    Looks like there has been a glitch in the matrix...well you have two options </strong></p>
<img src="/images/morpheus-red-pill-blue-pill.jpg">
<a href=""><button type="button" name="button" id="button1">RELOAD</button></a>
<a href="/"><button type="button" name="button" id="button2">GO TO HOMEPAGE</button></a>
  </body>
</html>
