<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>My Profile</title>
    <link href="https://fonts.googleapis.com/css2?family=Zilla+Slab:wght@300&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/7d0e898fba.js" crossorigin="anonymous"></script>
  <style media="screen">
    *{
      font-family: 'Zilla Slab', serif;
     }
    body{
      margin: 0;
      background-color: rgb(249, 241, 241);
    }
    #topbar{
    display:flex;
    background-color: black;
    color: white;
    height: 9vh;
    }
    #topbar nav{
    position: absolute;
    display: inline-flex;
    right: 0;
    }
    #topbar nav li{
    display: inline-block;
    padding: 0 20px;
    }
    #topbar h1{
      padding: 0;
      margin: auto 0;
      margin-left: 20px;
    }
    #topbar nav li a{
    text-decoration: none;
    color: white;
    }
    #topbar button{
      border-radius: 30px;
      font-size: 20px;
      cursor: pointer;
      padding: 10px;
      border: none;
    }
    #topbar button:hover{
      background-color:red;
      color: white;
    }
    #container{
      display: flex;
      justify-content:space-between;
    }
    #sidebar{
      display: inline-block;
      width: 30%;
      background-color: white;
      align-items: center;
      height: 91vh;
    }
      #sidebar img{
        width: 50%;
        margin-top: 10px;
        margin-left: 25%;
        margin-right: 25%;
      }
      #sidebar p{
        font-size: 25px;
         text-align: center;
      }
      #sidebar p:nth-of-type(1){
        font-size: 35px;
        margin: 5px;
      }
      #mainbar{
        display: inline-block;
        width: 70%;
        height: 91vh;
        overflow-y: scroll;

      }
      #mainbar h1{
        font-size: 30px;
      }
      i{
        margin: 10px;
      }
      .trait{
        width: 88%;
        margin: 20px auto;
        background-color: white;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
      }
      .traitname{
        width: 90%;
        margin: 0 auto;
      padding: 10px;
      border-bottom: solid 1px black;
    }
    .description{
      width: 80%;
      margin: 0 auto;
      margin-top: 10px;
      font-size: 30px;
      padding: 10px;
      line-height: 150%;
      }
      a{
        text-decoration: none;
      }
    </style>
</head>
  <body>
    <div id="topbar">
     <h1><i class="fas fa-bug"></i>  Debuggers</h1>
    <nav>
       <ul>
      <li><a href="\projects">HOME</a></li>
      <li><a href="\">ABOUT US</a></li>
      <li><a href="\myprojects">MY PROJECTS</a></li>
      <li><a href="\profile">MY PROFILE</a></li>
      <li><button type="button" name="button" onclick="signOutAdmin()">Sign Out</button></li>
     </ul>
   </nav>
    </div>
    <div id="container">
       <div id="sidebar">
         <img src="C:\Users\HP\Desktop\Debuggers\Debuggers\public\images\morpheus-red-pill-blue-pill.jpg">
         <p> <strong><i class="fa fa-user"></i>Username</strong></p>
         <p>Level:Begginer</p>
         <p>Post: thread or seed</p>
         <p>College/School name</p>
       </div>
       <div id="mainbar">
         <div class="trait">
           <h1 class="traitname"><i class="fas fa-laptop-code"></i>Areas of Interest</h1>
           <ul class="description">
             <li>Android Development</li>
             <li>Web Development</li>
             <li>Java</li>
           </ul>
         </div>
         <div class="trait">
              <h1 class="traitname"><i class="fa fa-trophy" ></i>Completed Projects </h1>
              <ul class="description">
                <li><a href="#">Prject Name-1</a></li>
                <li><a href="#">Prject Name-2</a></li>
                <li><a href="#">Prject Name-3</a></li>
              </ul>
         </div>
         <div class="trait">
             <h1 class="traitname"><i class="fa fa-users"></i>Active Projects</h1>
             <ul class="description">
               <li><a href="#">Prject Name-1</a></li>
               <li><a href="#">Prject Name-2</a></li>
               <li><a href="#">Prject Name-3</a></li>
             </ul>
         </div>
       </div>
    </div>
  </body>
</html>
